body {
  min-height: 100vh;
  background-image: radial-gradient(#0c0c1e, #0c0c1e, #13132e);
}

#content {
  height: 100%;
}

/* MAIN SLIDER */
.slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
  height: 100%; /* Set the height to 100% to fill the container */
}

.slide {
  flex: 0 0 100%;
  width: 100%;
  color: #fff;
}

.slide img {
  width: 100%;
  height: 100%;
  left: 0;
}

.slide-text {
  background-color: #00000030;
}

.slide h3 {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 25px;
}

.slide p {
  font-size: 20px;
  margin: 3% 0;
}

.slide button {
  z-index: 10;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 16px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.slide button:hover {
  background-color: #198754 !important;
  color: #fff !important;
}

.slider-bullets {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.slider-bullets button {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #aaa;
  margin: 0 5px;
  padding: 0;
  border: none;
  cursor: pointer;
}

.slider-bullets button.active {
  background-color: #333;
}

.slide .sugestion {
  background-image: url("./public/img/FL-SecPed-1.4-ComputationalThinking-01-1-overlay.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* max-height: 85%; */
  height: 100%;
}

/* GAMES */
#games {
  padding: 64px;
}

#games h3 {
  color: white;
}

#games .game-section {
  margin: 0 0 64px;
}

#games .game-card {
  background-image: radial-gradient(circle, #1f1f4d40, #1f1f4d40, #26266140);
  margin: 16px 8px 0 8px;
  transition: 0.5s;
}

#games .game-card:hover {
  background-image: radial-gradient(circle, #1f1f4d, #1f1f4d, #262661);
  cursor: pointer;
  transition: 0.5s;
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

#games .game-card,
#games .game-card .card-icon {
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

#games .game-card .card-icon {
  background-color: #ffffff10;
}

#games .game-card img {
  max-height: 75px;
  max-width: 75px;
  margin: 0 auto;
}

#games .game-card h5 {
  color: white;
  padding: 16px 8px 0;
  font-size: 24px;
}

#games .game-card p {
  color: white;
  padding: 0 8px;
  font-size: 16px;
}
