/* styles.css */

/* Importing the Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Setting the background color of the body */
body {
  background-color: #3D7740!important; /* Chalkboard green */
  color: white!important;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 80vh;
  margin: 3% auto;
}

h3 {
  margin-bottom: 40px!important;
}

ol {
  max-width: 65%;
}

li {
  margin-bottom: 20px;
}

h6 {
  margin-top: 60px!important;
  font-size: 20px!important;
}